$gmail_color_grey : #727272;
$gmail_color_border : #eceff1;
$gmail_color_icon_fill: #5f6368;
$gmail_color_icon_hover: rgba(60,64,67,0.08);
$gmail_color_background_search: #f1f3f4;
$gmail_color_search_active_border:#c2c2c4; 
$gmail_color_search_active_box_shadow: #e1e1e1;
$gmail_color_category_hover: #f2f2f2;
$gmail_color_primary: #d93025;
$gmail_color_social: #1a73e8;
$gmail_color_promotional:#188038;