@import '../colors.scss';

.feed {
    padding-top: 1rem;
}

.controls {
    display: flex;
    margin: auto;
    & > span {
        cursor: pointer;
        &:nth-child(1) > .feedIcon {
            border-radius: 0 !important;
        }
        &:nth-child(2) > .feedIcon {
            border-radius: 0 !important;
        }
        &:nth-child(5){
            flex-grow: 2;
        }
    }
}

.selector {
    border-radius: 0 !important;
}

.border8 {
    border-radius: 8px;
    padding: 12px;
    font-size: 0.75rem;
    letter-spacing: 0.3px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #5f6368;
    align-self: center;
    &:hover{
        background-color: $gmail_color_background_search;
    }
}

.feedIcon {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.5rem;
    border-radius: 24px;
}

.feedIcon:hover {
    fill: black;
    background-color: $gmail_color_background_search;
}

.feedIconStroke:hover {
    stroke: black !important;
    fill: white !important;
}
