@import "../colors.scss";

.mailList > div {
    display: flex
}

.mailList > div > * {
    padding: 1rem 7rem 1rem 1rem;
    display: flex;
    cursor: pointer;
    &:hover {
        background-color: $gmail_color_category_hover;
    }
}
        
        